:root {
  --primary: #007BFF;
  --secondary: rebeccapurple;
  --danger: #fa1f1f
}


.App {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  height: 600px;
  width: 800px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 5px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px ;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 10px 0;
}
.todo-list {
  display: flex;
  margin-top: 10px;
  flex-direction: column;

}
.todo-item {
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.add-container {
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
}
.input-container {
  display: flex;
  flex-grow: 5;
  position: relative;
  flex-direction: row;
}
.clear-input {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  color: red;
  height: 24px;
}
.todo-input{
  height: 40px;
  flex-grow: 3;
  border-color: #d2d2dc;
  border-style: solid;
  border-width: 1px;
  font-size: 1.05rem;
  border-radius: 5px ;
  padding-left: 20px;
}

.todo-input:focus {
  outline-color: var(--primary);
}

.add-button {
  height: 45px;
  width: 70px;
  background-color: #007BFF;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left:5px ;
  border-radius: 5px;
  border-style: none;
}

.btn-inactive {
  background-color: rgba(150, 150, 150, 0.81);
  height: 45px;
  width: 70px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left:5px ;
  border-radius: 5px;
  border-style: none;
}

.add-button:hover {
  background-color: #016ce2;
  color: #f6f6f6;
  transition: 5ms ease-in-out;
}

.todo-item {

}

.todo-title {
  flex-grow: 10;
  margin-left: 10px;
  font-weight: 600;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}

.todo-item-buttons {
  display: flex;
  padding: 5px ;
  flex-direction: row;
  justify-content: flex-end;
}

.checkbox{
  position: relative;
  padding: 0;
  border-style: solid;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border-color: var(--primary);
}


.checked {
  background-color:  var(--primary);
}
.check-icon {
  align-self: center;
  position: absolute;
  z-index: 30;
  height: 20px;
  width: 20px;
  color: white;
}
.italic {
  font-style: italic;
}

.font-500 {
  font-weight: 500;
}
.text-gray {
  color: gray;
}

.icon {
  width: 30px;
  height: 30px;
}

.delete{
  color: var(--danger);

}

.complete {
  color: green;
}

.filter-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.filter-label{
  margin-left: 10px;
  font-size: 0.9rem;
  color: gray;
}

.filter-check {
  position: relative;
  padding: 0;
  border-style: solid;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border-color: var(--primary);
}

.filter-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.fetch-button{
  border-radius: 14px;
  border: none ;
  width: 100px;
  padding: 10px;
  color: white;
  background-color: #007BFF;
}

.fetch-button:hover {
  transform: scale(1.1);
  background-color: #0064cf;
  font-weight: bold;
}
